<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CAS Project Setup</title>
  </head> 
  <body>
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CAS_ARE24_M1</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/base/user1/chat">Bot 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/varianta/user2/chat">Bot 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/variantb/user3/chat">Bot 3</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to CAS Project Setup</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <hr class="my-4">
        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
        <a class="btn btn-primary btn-lg" href="/base/user1/chat" role="button">Our Base Prompt</a>
        <a class="btn btn-primary btn-lg" href="/varianta/user2/chat" role="button">Our Bot with Variant A (open-ended)</a>
        <a class="btn btn-primary btn-lg" href="/variantb/user3/chat" role="button">Our Bot with Variant B (closed-ended)</a>
      <p></p>
      <h2>List of Bots</h2>
      <p class="lead">available bots including conversation</p>
      <hr class="my-4">
      <table class="table">
        <thead class="thead-dark"></thead>
          <tr>
        <th scope="col">Bot Role</th>
        <th scope="col">User</th>
          </tr>
        </thead>
        <tbody id="botTableBody">
        </tbody>
      </table>
      <script>
        fetch('/bots')
          .then(response => response.json())
          .then(data => {
            const botTableBody = document.getElementById('botTableBody');
            data.forEach(bot => {
              const row = document.createElement('tr');
              const roleCell = document.createElement('td');
              const userCell = document.createElement('td');
              roleCell.textContent = bot.type_id;
              userCell.textContent = bot.user_id;
              row.appendChild(roleCell);
              row.appendChild(userCell);
              botTableBody.appendChild(row);
            });
          })
          .catch(error => {
            console.error('Error:', error);
          });
      </script>
</div>
  </body>
</html>